{% load static %}

<link rel="stylesheet" href="{% static 'site.css' %}">
<html>
    <div class="login_page">
        <h2>Login</h2>
        <form method="post" action="login">
            {% csrf_token %}
            <label for="username">username:</label><br>
            <input type="text" id="username" name="username"><br>

            <label for="password">password:</label><br>
            <input type="password" id="password" name="password"><br><br>

            <p>{{error}}</p>

            <button type="submit">Login</button>
            <a href="register">Register</a>
          </form>
    </div>
</html>