{% load static %}

<link rel="stylesheet" href="{% static 'site.css' %}">
<html>
    <div class="login_page">
        <h2>Register</h2>
        <form method="post" action="confirmation">
            {% csrf_token %}
            <label for="username">username:</label><br>
            <input type="text" id="username" name="username"><br>
            <p>{{uerror}}</p>

            <label for="password">password:</label><br>
            <input type="password" id="password" name="password"><br>

            <label for="reenter">re-enter password:</label><br>
            <input type="password" id="reenter" name="reenter"><br>
            <p>{{perror}}</p>

            <label for="email">email:</label><br>
            <input type="email" id="email" name="email"><br><br>

            <button type="submit">Register</button>
            <a href=".">Back</a>
          </form>
    </div>
</html>